Q1

In [2]:
class vehicle:
  def __init__(self,name_of_vehicle,max_speed,average_of_vehicle):
    self.name_of_vehicle=name_of_vehicle
    self.max_speed=max_speed
    self.average_of_vehicle=average_of_vehicle

Q2

In [3]:
class car(vehicle):
  def seating_capacity(self,capacity):
    print(f'Vehicle name: {self.name_of_vehicle}, and seating_capacity: {capacity}')

In [6]:
car1 = car('Honda',15000,233000)
car1.seating_capacity(4)

Vehicle name: Honda, and seating_capacity: 4

Q3- Multiple inheritance is when a class inherence from 2 different classes, you can say from a mother and a father and the result is a child

In [10]:
class food:
  def food_name(self,name):
     self.name=name
class fruit:
   def flavor_fruit(self,flavor):
      self.flavor

In [23]:
class dessert(food,fruit):
   def dessert_name(self,name,flavor,dname):
     print(f"name: {name} , flavor:{flavor}, dessert: {dname}")

In [24]:
apple_pie= dessert()
apple_pie.dessert_name('pie','sweet','apple_pie')

name: pie , flavor:sweet, dessert: apple_pie

Q4

In [44]:
class Person:
  def __init__(self,name,age,gender):
    self.name=name
    self.__age=age
    self.gender=gender
  def say_hello(self):
    print(f'Greetins from {self.name}')
  def is_adult(self):
    if self.__age>=18:
     return True
    else:
      return False
  #part of Q4 task 4
  def set_age(self,age):
    self.__age=age
  def get_age(self):
    return self.__age

In [40]:
class Student(Person):
  def __init(self,student_id,course):
    self.student_id=student_id
    self.course=course
  def get_course(self):
    return self.course

In [41]:
class Teacher(Person):
  def __init__(self,teacher_id,subject):
    self.teacher_id=teacher_id
    self.subject=subject
  def say_hello(self):
    print(f'Greetins My name is: {self.name} and Im a your teacher')

In [43]:
Javier = Teacher('C0891259','Python')
Javier.name='Javier'
Javier.say_hello()
Javier.set_age(33)
age =Javier.get_age()
print(f'The age is: {age}')

Greetins My name is: Javier and Im a your teacher
The age is: 33